.container{
    width: 640px;
    margin: auto;
    margin-top: 120px;
    background-color: white;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 12px;
    padding: 40px 50px;

    box-shadow: 0px 15px 40px rgba(0,0,0,0.25);
}

.container hr{
    border: none;
    height:2px;
    background: #c2c2c2;
}

.container h2{
    font-size: 26px;
    font-weight: 500;
}

/* Options */
.container ul li{
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 20px;   /* left right padding */
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 19px;
    cursor: pointer;
    transition: 0.3s;
}

/* Button */
.container button{
    margin: auto;
    width: 200px;
    height: 50px;
    background: #553f9a;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transition: 0.3s;
}

.container button:hover{
    background:#3f2f80;
}

.container .index{
    margin: auto;
    font-size: 12px;
    color: gray;
}

/* Correct */
.container .correct{
    background: #dffff2;
    border-color: #00d397;
}

/* Wrong */
.container .wrong{
    background: #FFEBEB ;
    border-color: #FF4A4A;
}

.celebration{
text-align:center;
font-size:40px;
margin:20px 0;
animation: pop 1s infinite alternate;
}

@keyframes pop{
from{
transform:scale(1);
}
to{
transform:scale(1.1);
}
}